<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Financial Tracker</title>
</head>
<body>
	<form action="/auth/login" method="get" name="login-form" class="login-form">
			<div>
			    <label for="username-input">User Name:</label>
				<input type="text" id="username-input" name="username-input" placeholder="username" required>
			</div>
			<div>
			    <label for="password-input">Password:</label>
				<input type="password" id="password-input" name="password-input" placeholder="password" required>
			</div> <br>
			<button type="submit">login</button>
	</form>
</body>
</html>
