<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Financial Tracker</title>
</head>
<body>
	<form action="/auth/login" method="post" name="login-form" class="login-form">
			<div>
				<label for="username-input"><%= locals.username_err? 'Cannot find username!' : 'Username:'  %></label><br>
				<input type="text" id="username-input" name="username" placeholder="username" required>
			</div>
			<div>
				<label for="username-input"><%= locals.password_err? 'Wrong Password!' : 'Password:'  %></label><br>
				<input type="password" id="password-input" name="password" placeholder="password" required>
			</div> <br>
			<button type="submit">login</button>
	</form>
</body>
</html>
